
<section class="success" id="about">
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>ABOUT US</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>QRiders is a leading company in kids entertainment. Relying on advanced technologies, innovative concept and excellent services, 
                QRiders is specialized in production, marketing, and provides rental plush animal riders in local shopping malls and private parties.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>
                    Throught years of efforts, we have established a team with highly trained technicians. All of our plush animal riders are flexible to be
                    placed in shopping malls, hotel, kids indoor park and supermarket etc. QRiders design of plush animal riders attracts many kids and sell
                    well to all over the world.
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Our goal is to enhance the customer shopping experience by providing unique entertainment that can be enjoyed both by children and parents. 
                </p>
            </div>
        </div>
    </div>
</section>
