
<section id="price">
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Price</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <ul class="list-group">
                    <li class="list-group-item"><h4>General Admission</h4></li>
                    <li class="list-group-item"><p>10 Mins $5.00 + tax</p></li>
                    <li class="list-group-item"><p>20 Mins $10.00 + tax</p></li>
                    <li class="list-group-item"><p>30 Mins $15.00 + tax</p></li>
                    <li class="list-group-item"><p>40 Mins $20.00 + tax</p></li>
                    <li class="list-group-item"><p>60 Mins $30.00 + tax</p></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <ul class="list-group">
                    <li class="list-group-item"><h4>Party Rental</h4></li>
                    <li class="list-group-item"><p>200/h for 4 animal</p></li>
                    <li class="list-group-item"><p>300/2h for 4 animal</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
